.categories-mobile-list{
	position: relative;
	&.end .custom-scrollbar::before{
		opacity: 0;
	}
}
.custom-scrollbar{
	&::-webkit-scrollbar {
		@apply w-[3px] bg-blue-300;
	}
	&::-webkit-scrollbar-thumb {
		@apply bg-blue-500;
	}
	// &::before{
	// 	content: '';
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100px;
	// 	left: 0;
	// 	top: calc(100% - 100px);
	// 	background: linear-gradient(360deg, #ffffff 30%, rgba(217, 217, 217, 0) 75%);
	// 	opacity: 1;
	// 	transition: opacity .2s;
	// }
}
.custom-x-scrollbar{
	&::-webkit-scrollbar {
		@apply h-[3px] bg-blue-300;
	}
	&::-webkit-scrollbar-thumb {
		@apply bg-blue-500;
	}
}
.categories-mobile-item{
	@apply sm:text-center sm:w-fit;
	> .submenu{
		display: none;
	}
	.submenu{
		.category-link{
			padding-left: 54px;
		} 
	}
	&.open {
		@apply bg-gray-100/60;
		> .category-link{
			@apply border-b border-b-black border-opacity-10
		}
		> .category-link svg{
			@apply rotate-90;
		}
		> .submenu{
			@apply block shadow-inner;
			.submenu{
				@apply shadow-none;
				.category-link{
					padding-left: 84px;
				}
			}
		}
	}
}
.category-link{
	@apply relative flex w-full items-center gap-x-3 sm:flex-col px-2.5 py-2.5 sm:py-0 pr-6 sm:pr-0 min-h-[50px] sm:min-h-0;
	.icon{
		@apply flex-shrink-0 mb-0 sm:mb-2.5 w-[30px] sm:w-auto h-auto sm:h-[30px] flex items-center justify-center;
	}
	span{
		@apply block text-sm sm:text-[11px] leading-tight;
	}
}