.categories-mobile-list{
	position: relative;
	&.end .custom-scrollbar::before{
		opacity: 0;
	}
}
.custom-scrollbar{
	&::-webkit-scrollbar {
		@apply w-[3px] bg-blue-300;
	}
	&::-webkit-scrollbar-thumb {
		@apply bg-blue-500;
	}
	// &::before{
	// 	content: '';
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100px;
	// 	left: 0;
	// 	top: calc(100% - 100px);
	// 	background: linear-gradient(360deg, #ffffff 30%, rgba(217, 217, 217, 0) 75%);
	// 	opacity: 1;
	// 	transition: opacity .2s;
	// }
}
.custom-x-scrollbar{
	&::-webkit-scrollbar {
		@apply h-[3px] bg-blue-300;
	}
	&::-webkit-scrollbar-thumb {
		@apply bg-blue-500;
	}
}
.categories-mobile-item{
	@apply text-center w-fit flex-grow px-2.5;
}
.category-link{
	.icon{
		margin-bottom: 10px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	span{
		display: block;
		font-size: 11px;
		line-height: 1.2;
		// overflow-wrap: anywhere;
	}
}