<header class="header-top sticky w-full left-0 top-0 bg-accent text-white z-50">
	<div class="i-container">

		<div class="flex items-center justify-between h-[50px]">

			<div><a href="#">Самара</a></div>
			<ul class="flex gap-7">
				<li><a href="#">Покупателям</a></li>
				<li><a href="#">О компании</a></li>
			</ul>
			<div class="flex gap-7">
				<span>пр. Ленина, д.10</span>
				<span><a href="tel:+78463738000" class="transition duration-300 hover:underline">8 (846) 37 38 000</a></span>
				<span>Пн-Пт: 9:00-18:00 | Сб: 9:00-14:00</span>
			</div>

		</div>

	</div>
	<!-- /.i-container -->
</header>