@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
	@apply font-light text-[14px] leading-[16px] text-black
}

.i-container{
	@apply container;
}

section{
	@apply py-[30px];
}

.list-item{
	@apply pl-3 bg-[url(../img/icons/list-arrow-right.svg)] bg-no-repeat;
	background-position: left top 5px;
}

.btn-up {
	@apply fixed z-10 bg-blue-300 right-5 bottom-[80px] sm:bottom-5 rounded cursor-pointer flex items-center justify-center w-12 h-12 transition-all duration-500 ease-in-out shadow-lg;
}

.btn-up::before {
	content: "";
	width: 30px;
	height: 30px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
	@apply -right-full;
}

@media (hover: hover) and (pointer: fine) {
	.btn-up:hover {
		@apply bg-blue-500;
	}
}