<!DOCTYPE html>
<html lang="ru">

<head>
	<base href="https://alexsab-ru.github.io/inversia">
	<meta name="robots" content="noindex, nofollow" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>Инверсия</title>
	<link rel="stylesheet" href="/css/styles.min.css">
	<script src="/js/app.min.js" defer></script>
</head>

<body>
<include src="header.html"></include>
<block name="content"></block>
<include src="footer.html"></include>
</body>

</html>